body {
  background-image:url('../img/Image.jpg');
  background-size: cover;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

main, header, footer {
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
  background-color:rgb(22, 22, 22, 0.9);
  color: #efefef;
}

footer {
  padding-top: 3rem;
}

p {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  border-bottom: 2px solid #efefef;
  font-family: 'Montserrat', sans-serif;
} 

a {
  color:#efefefef;
  text-decoration: none;
}

a:hover {
  color:#efefefef;
  text-decoration:underline;
}

.lead {
  font-size: 1.4rem;
}

.info {
  float: right;
  margin: 1rem;
  margin-top: 0rem;
}

.info > h3 {
  color: #efefef;
  background-color: #313131;
  margin-bottom: 0.2;
}