body {
  background-image: url('c:\code\wu1-validation\img/IMG_20200727_113945.jpg');
  background-size: cover;
  background-color: #d4d4d4;
  font-size: 1rem;
  font-family: 'Montserrat, sans-serif;
}

main, header, footer {
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.4);
  color: #2b2b2b;
}

footer {
  padding-top: 3rem;
}

p {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  border-bottom: 2px solid #efefef;
} 

.lead {
  font-size: 1.4rem;
}

.info {
  float: right;
  margin: 1rem
}

.info h3 {
  color: #222222;
  background-color: #dfdfdf;
  margin-bottom: 0.2;
}